In [6]:
from tkinter.messagebox import NO
import pandas as pd 
import numpy as np

df = pd.read_csv('diabetic_data.csv')
df.head()
# ‚ùì Why do we use head() in Phase 1?

# Because we want to:

# ‚úî Check if data loaded correctly
# ‚úî See column names
# ‚úî See data types (numbers / text)
# ‚úî See strange values like ?
# ‚úî Understand what each column represents

# üÜî encounter_id
# A hospital visit ID
# Every time a patient visits ‚Üí new encounter

# üßç patient_nbr
# Unique patient ID
# Same patient may appear multiple times

# üåç race
# Patient race (Caucasian, AfricanAmerican, etc.)

# üè• admission_type_id
# Why patient was admitted
# Example:
# Emergency
# Urgent
# Elective
# (IDs explained using IDs_mapping.csv)

# üîÅ readmitted (MOST IMPORTANT COLUMN)
# This is your target column.
# Values:
# NO ‚Üí Not readmitted
# >30 ‚Üí Readmitted after 30 days
# <30 ‚Üí Readmitted within 30 days ‚ùó
# üëâ <30 is bad for hospital


# 1Ô∏è‚É£ First: What is this project REALLY about? (Big Picture)
# Imagine this in very simple words üëá
# A hospital has diabetes patients
# Some patients come back to the hospital again within 30 days
# Hospitals lose money if patients come back too soon
# Your job (as a data student) is to:
# Find why patients come back
# Find who is most at risk
# Create a simple risk score
# So the main question is:
# ‚ùì ‚ÄúWhich diabetes patients are likely to be readmitted within 30 days, and why?‚Äù
# That‚Äôs it. Everything else supports this goal.

#  building a house üè†:

# Phase	       Meaning (Simple)
# Phase 1	    Clean the data
# Phase 2	    Explain medical codes
# Phase 3    	Analyze & visualize
# Phase 4	    Create a risk score

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [ ]:
# 1.Replace ? ‚Üí NaN
df.replace("?" , np.nan , inplace=True)
df.head()

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),NaN,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),NaN,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),NaN,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),NaN,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),NaN,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [ ]:
# How many missing values are in each column
df.isna().sum()
# cloman ekaka empty value ekak thiboth true retuern karanawa
# Each number = how many rows are missing data.

# üîç Let‚Äôs interpret the IMPORTANT ones
# ‚ùó weight ‚Üí 98,569 missing
# This is almost the entire dataset
# That‚Äôs why the project explicitly tells you to drop it

# ‚úÖ Decision: DROP
# ‚ö† payer_code ‚Üí 40,256 missing
# Insurance provider
# Too many missing values
# Usually not used in analysis

# (We don‚Äôt drop it yet unless instructions say so)
# ‚ö† medical_specialty ‚Üí 49,949 missing
# Doctor‚Äôs department

# About half missing
# ‚ö† max_glu_serum ‚Üí 96,420 missing
# ‚ö† A1Cresult ‚Üí 84,748 missing
# Lab test results
# Most patients didn‚Äôt take these tests

encounter_id                    0
patient_nbr                     0
race                         2273
gender                          0
age                             0
weight                      98569
admission_type_id               0
discharge_disposition_id        0
admission_source_id             0
time_in_hospital                0
payer_code                  40256
medical_specialty           49949
num_lab_procedures              0
num_procedures                  0
num_medications                 0
number_outpatient               0
number_emergency                0
number_inpatient                0
diag_1                         21
diag_2                        358
diag_3                       1423
number_diagnoses                0
max_glu_serum               96420
A1Cresult                   84748
metformin                       0
repaglinide                     0
nateglinide                     0
chlorpropamide                  0
glimepiride                     0
acetohexamide                   0
glipizide                       0
glyburide                       0
tolbutamide                     0
pioglitazone                    0
rosiglitazone                   0
acarbose                        0
miglitol                        0
troglitazone                    0
tolazamide                      0
examide                         0
citoglipton                     0
insulin                         0
glyburide-metformin             0
glipizide-metformin             0
glimepiride-pioglitazone        0
metformin-rosiglitazone         0
metformin-pioglitazone          0
change                          0
diabetesMed                     0
readmitted                      0
dtype: int64

In [12]:
# | Column   | Missing |
# | -------- | ------- |
# | `diag_1` | 21      |
# | `diag_2` | 358     |
# | `diag_3` | 1423    |
# These are important and have very few missing values

# ‚úÖ Columns with 0 missing values
# Most medication columns, age, gender, readmitted, etc.
# These are clean

# üéØ Phase 1 decisions 
# | Column            | Action   | Reason               |
# | ----------------- | -------- | -------------------- |
# | `weight`          | DROP     | >90% missing         |
# | `?` values        | REPLACED | Not valid values     |
# | Deceased patients | REMOVE   | Cannot be readmitted |
# | Duplicates        | REMOVE   | Data quality         |

# Drop weight
# >90% missing   therefore drop this column
df.drop(columns=["weight"], inplace=True)
df.head()

,encounter_id,patient_nbr,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,payer_code,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),6,25,1,1,NaN,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),1,1,7,3,NaN,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),1,1,7,2,NaN,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),1,1,7,2,NaN,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),1,1,7,1,NaN,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [14]:
# Remove deceased patients -> death_Patients
# we want to only keep patients who are alive because deceased patients cannot be readmitted
df = df[~df["discharge_disposition_id"].isin([11, 19, 20])]
df.head(20)

,encounter_id,patient_nbr,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,payer_code,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),6,25,1,1,NaN,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),1,1,7,3,NaN,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),1,1,7,2,NaN,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),1,1,7,2,NaN,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),1,1,7,1,NaN,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
5,35754,82637451,Caucasian,Male,[50-60),2,1,2,3,NaN,...,No,Steady,No,No,No,No,No,No,Yes,>30
6,55842,84259809,Caucasian,Male,[60-70),3,1,2,4,NaN,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
7,63768,114882984,Caucasian,Male,[70-80),1,1,7,5,NaN,...,No,No,No,No,No,No,No,No,Yes,>30
8,12522,48330783,Caucasian,Female,[80-90),2,1,4,13,NaN,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
9,15738,63555939,Caucasian,Female,[90-100),3,3,4,12,NaN,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
10,28236,89869032,AfricanAmerican,Female,[40-50),1,1,7,9,NaN,...,No,Steady,No,No,No,No,No,No,Yes,>30
11,36900,77391171,AfricanAmerican,Male,[60-70),2,1,4,7,NaN,...,No,Steady,No,No,No,No,No,Ch,Yes,<30
12,40926,85504905,Caucasian,Female,[40-50),1,3,7,7,NaN,...,No,Down,No,No,No,No,No,Ch,Yes,<30
13,42570,77586282,Caucasian,Male,[80-90),1,6,7,10,NaN,...,No,Steady,No,No,No,No,No,No,Yes,NO
14,62256,49726791,AfricanAmerican,Female,[60-70),3,1,2,1,NaN,...,No,Steady,No,No,No,No,No,No,Yes,>30
15,73578,86328819,AfricanAmerican,Male,[60-70),1,3,7,12,NaN,...,No,Up,No,No,No,No,No,Ch,Yes,NO
16,77076,92519352,AfricanAmerican,Male,[50-60),1,1,7,4,NaN,...,No,Steady,No,No,No,No,No,Ch,Yes,<30
17,84222,108662661,Caucasian,Female,[50-60),1,1,7,3,NaN,...,No,No,No,No,No,No,No,No,Yes,NO
18,89682,107389323,AfricanAmerican,Male,[70-80),1,1,7,5,NaN,...,No,Steady,No,No,No,No,No,No,Yes,>30
19,148530,69422211,NaN,Male,[70-80),3,6,2,6,NaN,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [ ]:
# Remove duplicates
df.drop_duplicates(inplace=True)
df.head()

In [ ]:
df.shape
df.isna().sum()
# # Check shape after Phase 1 cleaning
# # (rows, columns)

# # üîª weight column
# # Gone ‚úÖ
# # Missing values for weight are no longer listed
# # ‚û° This confirms the column was dropped successfully.

# # Missing values slightly reduced
# # Compare before vs now:
# # | Column            | Before | Now   |
# # | ----------------- | ------ | ----- |
# # | race              | 2273   | 2239  |
# # | payer_code        | 40256  | 39591 |
# # | medical_specialty | 49949  | 49129 |
# # | max_glu_serum     | 96420  | 94890 |
# # | A1Cresult         | 84748  | 83238 |

# # Deceased patients were removed
# # Some missing rows belonged to those patients

# Diagnosis columns still OK
# diag_1: 21 missing
# diag_2: 358 missing
# diag_3: 1421 missing
# These are small numbers compared to dataset size
# ‚û° We keep them

# üß† Very important understanding (for exams & viva)
# You must be able to say this sentence:
# ‚ÄúAfter removing deceased patients and dropping the weight column, the dataset has improved data quality 
# and remains clinically valid for readmission analysis.‚Äù


# ‚úÖ Final Phase 1 checklist
# ‚úî Data loaded correctly
# ‚úî ? replaced with NaN
# ‚úî weight dropped
# ‚úî Deceased patients removed
# ‚úî Duplicates removed
# ‚úî Dataset validated

encounter_id                    0
patient_nbr                     0
race                         2239
gender                          0
age                             0
admission_type_id               0
discharge_disposition_id        0
admission_source_id             0
time_in_hospital                0
payer_code                  39591
medical_specialty           49129
num_lab_procedures              0
num_procedures                  0
num_medications                 0
number_outpatient               0
number_emergency                0
number_inpatient                0
diag_1                         21
diag_2                        358
diag_3                       1421
number_diagnoses                0
max_glu_serum               94890
A1Cresult                   83238
metformin                       0
repaglinide                     0
nateglinide                     0
chlorpropamide                  0
glimepiride                     0
acetohexamide                   0
glipizide                       0
glyburide                       0
tolbutamide                     0
pioglitazone                    0
rosiglitazone                   0
acarbose                        0
miglitol                        0
troglitazone                    0
tolazamide                      0
examide                         0
citoglipton                     0
insulin                         0
glyburide-metformin             0
glipizide-metformin             0
glimepiride-pioglitazone        0
metformin-rosiglitazone         0
metformin-pioglitazone          0
change                          0
diabetesMed                     0
readmitted                      0
dtype: int64

In [16]:
# Save your cleaned dataset (recommended)
df.to_csv("cleaned_diabetic_data.csv", index=False)

In [ ]:
# # 1Ô∏è‚É£ Understand IDs_mapping.csv
# # 2Ô∏è‚É£ Then start Phase 2 (ICD-9 diagnosis understanding)

# # What is IDs_mapping.csv?

# üß† Why this file exists
# In your main dataset, many columns use numbers instead of words.

# For example, admission_type_id column uses numbers like 1, 2, 3
# But what do these numbers mean?

# IDs_mapping.csv is the dictionary that explains those numbers.
# Think of it like:
# üìò Code ‚Üí Meaning

id_map = pd.read_csv("IDs_mapping.csv")
id_map.head()

  admission_type_id    description
0                 1      Emergency
1                 2         Urgent
2                 3       Elective
3                 4        Newborn
4                 5  Not Available

In [ ]:
# üìå Which columns use ID mapping?
# These columns in your dataset NEED explanation:

# | Column                   | Meaning                   |
# | ------------------------ | ------------------------- |
# | admission_type_id        | Why patient was admitted  |
# | discharge_disposition_id | How patient left hospital |
# | admission_source_id      | Where patient came from   |

df["admission_type_id"].value_counts()
# output ->
# admission_type_id
# 1    52884
# 3    18739
# 2    18226
# 6     5227
# 5     4690
# 8      320
# 7       18
# 4       10

# This means:
# Most patients were Emergency admissions
# NOT elective
# But only if you use IDs_mapping.csv

# üß† What Phase 2 expects from you
# Phase 2 is about diagnosis codes, NOT admission types.

admission_type_id
1    52884
3    18739
2    18226
6     5227
5     4690
8      320
7       18
4       10
Name: count, dtype: int64