In [ ]:
from tkinter.messagebox import NO
import pandas as pd 
import numpy as np

df = pd.read_csv('diabetic_data.csv')
df.head()
# ‚ùì Why do we use head() in Phase 1?

# Because we want to:

# ‚úî Check if data loaded correctly
# ‚úî See column names
# ‚úî See data types (numbers / text)
# ‚úî See strange values like ?
# ‚úî Understand what each column represents

# üÜî encounter_id
# A hospital visit ID
# Every time a patient visits ‚Üí new encounter

# üßç patient_nbr
# Unique patient ID
# Same patient may appear multiple times

# üåç race
# Patient race (Caucasian, AfricanAmerican, etc.)

# üè• admission_type_id
# Why patient was admitted
# Example:
# Emergency
# Urgent
# Elective
# (IDs explained using IDs_mapping.csv)

# üîÅ readmitted (MOST IMPORTANT COLUMN)
# This is your target column.
# Values:
# NO ‚Üí Not readmitted
# >30 ‚Üí Readmitted after 30 days
# <30 ‚Üí Readmitted within 30 days ‚ùó
# üëâ <30 is bad for hospital


# 1Ô∏è‚É£ First: What is this project REALLY about? (Big Picture)
# Imagine this in very simple words üëá
# A hospital has diabetes patients
# Some patients come back to the hospital again within 30 days
# Hospitals lose money if patients come back too soon
# Your job (as a data student) is to:
# Find why patients come back
# Find who is most at risk
# Create a simple risk score
# So the main question is:
# ‚ùì ‚ÄúWhich diabetes patients are likely to be readmitted within 30 days, and why?‚Äù
# That‚Äôs it. Everything else supports this goal.

#  building a house üè†:

# Phase	       Meaning (Simple)
# Phase 1	    Clean the data
# Phase 2	    Explain medical codes
# Phase 3    	Analyze & visualize
# Phase 4	    Create a risk score

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [319]:
# 1.Replace ? ‚Üí NaN
df.replace("?" , np.nan , inplace=True)
df.head()

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),NaN,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),NaN,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),NaN,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),NaN,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),NaN,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [320]:
# How many missing values are in each column
df.isna().sum()
# cloman ekaka empty value ekak thiboth true retuern karanawa
# Each number = how many rows are missing data.

# üîç Let‚Äôs interpret the IMPORTANT ones
# ‚ùó weight ‚Üí 98,569 missing
# This is almost the entire dataset
# That‚Äôs why the project explicitly tells you to drop it

# ‚úÖ Decision: DROP
# ‚ö† payer_code ‚Üí 40,256 missing
# Insurance provider
# Too many missing values
# Usually not used in analysis

# (We don‚Äôt drop it yet unless instructions say so)
# ‚ö† medical_specialty ‚Üí 49,949 missing
# Doctor‚Äôs department

# About half missing
# ‚ö† max_glu_serum ‚Üí 96,420 missing
# ‚ö† A1Cresult ‚Üí 84,748 missing
# Lab test results
# Most patients didn‚Äôt take these tests

encounter_id                    0
patient_nbr                     0
race                         2273
gender                          0
age                             0
weight                      98569
admission_type_id               0
discharge_disposition_id        0
admission_source_id             0
time_in_hospital                0
payer_code                  40256
medical_specialty           49949
num_lab_procedures              0
num_procedures                  0
num_medications                 0
number_outpatient               0
number_emergency                0
number_inpatient                0
diag_1                         21
diag_2                        358
diag_3                       1423
number_diagnoses                0
max_glu_serum               96420
A1Cresult                   84748
metformin                       0
repaglinide                     0
nateglinide                     0
chlorpropamide                  0
glimepiride                     0
acetohexamide                   0
glipizide                       0
glyburide                       0
tolbutamide                     0
pioglitazone                    0
rosiglitazone                   0
acarbose                        0
miglitol                        0
troglitazone                    0
tolazamide                      0
examide                         0
citoglipton                     0
insulin                         0
glyburide-metformin             0
glipizide-metformin             0
glimepiride-pioglitazone        0
metformin-rosiglitazone         0
metformin-pioglitazone          0
change                          0
diabetesMed                     0
readmitted                      0
dtype: int64

In [321]:
# | Column   | Missing |
# | -------- | ------- |
# | `diag_1` | 21      |
# | `diag_2` | 358     |
# | `diag_3` | 1423    |
# These are important and have very few missing values

# ‚úÖ Columns with 0 missing values
# Most medication columns, age, gender, readmitted, etc.
# These are clean

# üéØ Phase 1 decisions 
# | Column            | Action   | Reason               |
# | ----------------- | -------- | -------------------- |
# | `weight`          | DROP     | >90% missing         |
# | `?` values        | REPLACED | Not valid values     |
# | Deceased patients | REMOVE   | Cannot be readmitted |
# | Duplicates        | REMOVE   | Data quality         |

# Drop weight
# >90% missing   therefore drop this column
df.drop(columns=["weight"], inplace=True)
df.head()

,encounter_id,patient_nbr,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,payer_code,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),6,25,1,1,NaN,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),1,1,7,3,NaN,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),1,1,7,2,NaN,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),1,1,7,2,NaN,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),1,1,7,1,NaN,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [322]:
# Remove deceased patients -> death_Patients
# we want to only keep patients who are alive because deceased patients cannot be readmitted
df = df[~df["discharge_disposition_id"].isin([11, 19, 20])]
df.head(20)

,encounter_id,patient_nbr,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,payer_code,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),6,25,1,1,NaN,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),1,1,7,3,NaN,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),1,1,7,2,NaN,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),1,1,7,2,NaN,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),1,1,7,1,NaN,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
5,35754,82637451,Caucasian,Male,[50-60),2,1,2,3,NaN,...,No,Steady,No,No,No,No,No,No,Yes,>30
6,55842,84259809,Caucasian,Male,[60-70),3,1,2,4,NaN,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
7,63768,114882984,Caucasian,Male,[70-80),1,1,7,5,NaN,...,No,No,No,No,No,No,No,No,Yes,>30
8,12522,48330783,Caucasian,Female,[80-90),2,1,4,13,NaN,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
9,15738,63555939,Caucasian,Female,[90-100),3,3,4,12,NaN,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
10,28236,89869032,AfricanAmerican,Female,[40-50),1,1,7,9,NaN,...,No,Steady,No,No,No,No,No,No,Yes,>30
11,36900,77391171,AfricanAmerican,Male,[60-70),2,1,4,7,NaN,...,No,Steady,No,No,No,No,No,Ch,Yes,<30
12,40926,85504905,Caucasian,Female,[40-50),1,3,7,7,NaN,...,No,Down,No,No,No,No,No,Ch,Yes,<30
13,42570,77586282,Caucasian,Male,[80-90),1,6,7,10,NaN,...,No,Steady,No,No,No,No,No,No,Yes,NO
14,62256,49726791,AfricanAmerican,Female,[60-70),3,1,2,1,NaN,...,No,Steady,No,No,No,No,No,No,Yes,>30
15,73578,86328819,AfricanAmerican,Male,[60-70),1,3,7,12,NaN,...,No,Up,No,No,No,No,No,Ch,Yes,NO
16,77076,92519352,AfricanAmerican,Male,[50-60),1,1,7,4,NaN,...,No,Steady,No,No,No,No,No,Ch,Yes,<30
17,84222,108662661,Caucasian,Female,[50-60),1,1,7,3,NaN,...,No,No,No,No,No,No,No,No,Yes,NO
18,89682,107389323,AfricanAmerican,Male,[70-80),1,1,7,5,NaN,...,No,Steady,No,No,No,No,No,No,Yes,>30
19,148530,69422211,NaN,Male,[70-80),3,6,2,6,NaN,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [323]:
# Remove duplicates
df.drop_duplicates(inplace=True)
df.head()

,encounter_id,patient_nbr,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,payer_code,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),6,25,1,1,NaN,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),1,1,7,3,NaN,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),1,1,7,2,NaN,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),1,1,7,2,NaN,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),1,1,7,1,NaN,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [324]:
df.shape
df.isna().sum()
# # Check shape after Phase 1 cleaning
# # (rows, columns)

# # üîª weight column
# # Gone ‚úÖ
# # Missing values for weight are no longer listed
# # ‚û° This confirms the column was dropped successfully.

# # Missing values slightly reduced
# # Compare before vs now:
# # | Column            | Before | Now   |
# # | ----------------- | ------ | ----- |
# # | race              | 2273   | 2239  |
# # | payer_code        | 40256  | 39591 |
# # | medical_specialty | 49949  | 49129 |
# # | max_glu_serum     | 96420  | 94890 |
# # | A1Cresult         | 84748  | 83238 |

# # Deceased patients were removed
# # Some missing rows belonged to those patients

# Diagnosis columns still OK
# diag_1: 21 missing
# diag_2: 358 missing
# diag_3: 1421 missing
# These are small numbers compared to dataset size
# ‚û° We keep them

# üß† Very important understanding (for exams & viva)
# You must be able to say this sentence:
# ‚ÄúAfter removing deceased patients and dropping the weight column, the dataset has improved data quality 
# and remains clinically valid for readmission analysis.‚Äù


# ‚úÖ Final Phase 1 checklist
# ‚úî Data loaded correctly
# ‚úî ? replaced with NaN
# ‚úî weight dropped
# ‚úî Deceased patients removed
# ‚úî Duplicates removed
# ‚úî Dataset validated

encounter_id                    0
patient_nbr                     0
race                         2239
gender                          0
age                             0
admission_type_id               0
discharge_disposition_id        0
admission_source_id             0
time_in_hospital                0
payer_code                  39591
medical_specialty           49129
num_lab_procedures              0
num_procedures                  0
num_medications                 0
number_outpatient               0
number_emergency                0
number_inpatient                0
diag_1                         21
diag_2                        358
diag_3                       1421
number_diagnoses                0
max_glu_serum               94890
A1Cresult                   83238
metformin                       0
repaglinide                     0
nateglinide                     0
chlorpropamide                  0
glimepiride                     0
acetohexamide                   0
glipizide                       0
glyburide                       0
tolbutamide                     0
pioglitazone                    0
rosiglitazone                   0
acarbose                        0
miglitol                        0
troglitazone                    0
tolazamide                      0
examide                         0
citoglipton                     0
insulin                         0
glyburide-metformin             0
glipizide-metformin             0
glimepiride-pioglitazone        0
metformin-rosiglitazone         0
metformin-pioglitazone          0
change                          0
diabetesMed                     0
readmitted                      0
dtype: int64

In [325]:
# Save your cleaned dataset (recommended)
df.to_csv("cleaned_diabetic_data.csv", index=False)

In [326]:
# # 1Ô∏è‚É£ Understand IDs_mapping.csv
# # 2Ô∏è‚É£ Then start Phase 2 (ICD-9 diagnosis understanding)

# # What is IDs_mapping.csv?

# üß† Why this file exists
# In your main dataset, many columns use numbers instead of words.

# For example, admission_type_id column uses numbers like 1, 2, 3
# But what do these numbers mean?

# IDs_mapping.csv is the dictionary that explains those numbers.
# Think of it like:
# üìò Code ‚Üí Meaning

id_map = pd.read_csv("IDs_mapping.csv")
id_map.head()

  admission_type_id    description
0                 1      Emergency
1                 2         Urgent
2                 3       Elective
3                 4        Newborn
4                 5  Not Available

In [327]:
# üìå Which columns use ID mapping?
# These columns in your dataset NEED explanation:

# | Column                   | Meaning                   |
# | ------------------------ | ------------------------- |
# | admission_type_id        | Why patient was admitted  |
# | discharge_disposition_id | How patient left hospital |
# | admission_source_id      | Where patient came from   |

df["admission_type_id"].value_counts()
# output ->
# admission_type_id
# 1    52884
# 3    18739
# 2    18226
# 6     5227
# 5     4690
# 8      320
# 7       18
# 4       10

# This means:
# Most patients were Emergency admissions
# NOT elective
# But only if you use IDs_mapping.csv

# üß† What Phase 2 expects from you
# Phase 2 is about diagnosis codes, NOT admission types.

admission_type_id
1    52884
3    18739
2    18226
6     5227
5     4690
8      320
7       18
4       10
Name: count, dtype: int64

In [328]:
# ART 2: Start Phase 2 ‚Äì ICD-9 Code Understanding
# this phase involves understanding the ICD-9 diagnosis codes present in the diag_1, diag_2, and diag_3 columns of your dataset.
# ‚ùì What are ICD-9 codes?
# ICD-9 codes are a standardized system used to classify and code diagnoses, symptoms, and procedures in the medical field.
# They are used by healthcare providers to document and communicate patient diagnoses and treatments.
# ‚ùó Important:
# ICD-9 codes can be numeric (e.g., 250.00 for diabetes mellitus) or 
# alphanumeric (e.g., V45.81 for a history of coronary artery bypass graft surgery).
# They may also include decimal points to provide more specific information about the diagnosis.
# Your task is to analyze these codes to identify common diagnoses among patients who were readmitted within 30 days.

# diagnosis columns look like this:
# diag_1 = 428
# diag_2 = 250.83
# diag_3 = 401.9

# Nobody understands numbers.
# Phase 2 goal:
# Convert ICD-9 codes ‚Üí disease names

# Example:
# 428 ‚Üí Congestive Heart Failure
# 250 ‚Üí Diabetes Mellitus

# step 1: Focus ONLY on diag_1
# diag_1 = Primary diagnosis
# Most important medical reason
# üëâ The project explicitly says this.

# Step 2:
# Find TOP 20 most common diag_1

top_diag = df["diag_1"].value_counts().head(20)
top_diag
# output ->
# This shows:
# Most frequent diseases
# Only 20 (manageable for scraping)

diag_1
428      6735
414      6555
786      4016
410      3477
486      3413
427      2729
491      2252
715      2147
682      2030
780      2012
434      1958
996      1944
276      1861
250.8    1667
599      1581
38       1522
584      1482
V57      1204
250.6    1178
820      1075
Name: count, dtype: int64

In [329]:
# 1Ô∏è‚É£ Pure numeric codes
# 428, 414, 786, 410, 486, 427

# These represent disease categories.
# Examples:
# 428 ‚Üí Heart Failure
# 414 ‚Üí Coronary Atherosclerosis
# 486 ‚Üí Pneumonia

# 2Ô∏è‚É£ Decimal codes (MORE SPECIFIC)
# Examples:
# 250.8
# 250.6

# These are sub-types of diabetes complications.
# 250 = Diabetes Mellitus
# .6 = Neurological complication
# .8 = Other specified complications

# 3Ô∏è‚É£ Codes starting with a LETTER
# V57
# These are V-codes.
# V-codes mean:
# Patient is not sick, but receiving:
# Rehabilitation
# Aftercare
# Therapy
# Example:
# V57 ‚Üí Rehabilitation procedures
# üìå This is very important to explain in your report

# üß† Why this matters for analysis
# If a patient‚Äôs primary diagnosis is:
# 428 ‚Üí very serious heart condition
# V57 ‚Üí therapy, not illness
# These patients have very different readmission risks.

# üîπ Phase 2 ‚Äì What you must do with these codes

# Now comes Data Enrichment.
# Your tasks:
# 1Ô∏è‚É£ Convert these codes ‚Üí disease names
# 2Ô∏è‚É£ Add a new column:

# Convert codes to strings
top_codes = top_diag.index.astype(str).tolist()
top_codes

['428',
 '414',
 '786',
 '410',
 '486',
 '427',
 '491',
 '715',
 '682',
 '780',
 '434',
 '996',
 '276',
 '250.8',
 '599',
 '38',
 '584',
 'V57',
 '250.6',
 '820']

In [330]:
# # ------------------------------
# # PHASE 2: ICD-9 DESCRIPTIONS SCRAPING WITH SELENIUM
# # ------------------------------

# from selenium import webdriver
# from selenium.webdriver.common.by import By
# from selenium.webdriver.chrome.service import Service
# from selenium.webdriver.chrome.options import Options
# import pandas as pd
# import time

# # ------------------------------
# # Step 1: Setup ChromeDriver path
# # ------------------------------

# # Update this to the full path where chromedriver.exe is located
# chrome_driver_path = "C:\\Users\\94716\\Desktop\\python_project\\chromedriver.exe"

# options = Options()
# options.add_argument("--headless")  # Run Chrome in background
# options.add_argument("--disable-gpu")
# options.add_argument("--no-sandbox")

# service = Service(chrome_driver_path)
# driver = webdriver.Chrome(service=service, options=options)

# # ------------------------------
# # Step 2: Define scraping function
# # ------------------------------

# def get_icd9_description(code):
#     """
#     Scrape ICD-9 description from icd9.chrisendres.com for a given code.
#     Works for decimal and V-codes.
#     """
#     try:
#         url = f"https://icd9.chrisendres.com/index.php?action=search&query={code}"
#         driver.get(url)
#         time.sleep(2)  # wait for JS to load

#         # Correct CSS selector: <td class="description"> a
#         link = driver.find_element(By.CSS_SELECTOR, "td.description a")
#         return link.text.strip()

#     except Exception:
#         return "Description not found"

In [331]:
top_20_diag_codes = (
    df["diag_1"]   # Use the correct dataframe name
    .value_counts()
    .head(20)
)

top_20_diag_codes

diag_1
428      6735
414      6555
786      4016
410      3477
486      3413
427      2729
491      2252
715      2147
682      2030
780      2012
434      1958
996      1944
276      1861
250.8    1667
599      1581
38       1522
584      1482
V57      1204
250.6    1178
820      1075
Name: count, dtype: int64

In [332]:
import requests
from bs4 import BeautifulSoup
import time

def fetch_icd9_disease_name(icd_code):
    """
    Fetches only the disease name for a given ICD-9 code, without the code itself.
    """
    url = f"http://icd9.chrisendres.com/index.php?srchtype=diseases&srchtext={icd_code}&Submit=Search&action=search"
    
    try:
        response = requests.get(url, timeout=10)
        if response.status_code != 200:
            return "Unknown"
        
        soup = BeautifulSoup(response.text, "html.parser")
        
        # The main disease name is in <div class="dlvl">
        disease_div = soup.find("div", class_="dlvl")
        if disease_div:
            # Remove the code at the start (first word)
            disease_name = ' '.join(disease_div.text.strip().split()[1:])
            return disease_name
        else:
            return "Unknown"
        
        time.sleep(1)  # Ethical scraping delay
    
    except Exception:
        return "Unknown"

# Example
print(fetch_icd9_disease_name("420"))  # Output: Acute pericarditis

Acute pericarditis

In [333]:
icd9_description_map = {}

for code in top_20_diag_codes.index:
    icd9_description_map[code] = fetch_icd9_disease_name(code)

icd9_description_map

{'428': 'Heart failure',
 '414': 'Other forms of chronic ischemic heart disease',
 '786': 'Symptoms involving respiratory system and other chest symptoms',
 '410': 'Acute myocardial infarction',
 '486': 'Pneumonia, organism unspecified',
 '427': 'Cardiac dysrhythmias',
 '491': 'Chronic bronchitis',
 '715': 'Osteoarthrosis and allied disorders',
 '682': 'Other cellulitis and abscess',
 '780': 'General symptoms',
 '434': 'Occlusion of cerebral arteries',
 '996': 'Complications peculiar to certain specified procedures',
 '276': 'Disorders of fluid, electrolyte, and acid-base balance',
 '250.8': 'Diabetes with other specified manifestations',
 '599': 'Other disorders of urethra and urinary tract',
 '38': 'Unknown',
 '584': 'Acute renal failure',
 'V57': 'Care involving use of rehabilitation procedures',
 '250.6': 'Diabetes with neurological manifestations',
 '820': 'Fracture of neck of femur'}

In [334]:
df["Primary_Diagnosis_Desc"] = df["diag_1"].astype(str).map(icd9_description_map)

In [335]:
df[["diag_1", "Primary_Diagnosis_Desc"]].head(10)

   diag_1                             Primary_Diagnosis_Desc
0  250.83                                                NaN
1     276  Disorders of fluid, electrolyte, and acid-base...
2     648                                                NaN
3       8                                                NaN
4     197                                                NaN
5     414      Other forms of chronic ischemic heart disease
6     414      Other forms of chronic ischemic heart disease
7     428                                      Heart failure
8     398                                                NaN
9     434                     Occlusion of cerebral arteries

In [ ]:
# # PART 1: Main Python Function (Web Scraping ICD-9 Disease Name)

# # import requests
# # from bs4 import BeautifulSoup
# # import time

# # üîπ What these imports do
# # requests ‚Üí sends HTTP requests (opens web pages)
# # BeautifulSoup ‚Üí reads & extracts HTML data from a web page
# # time ‚Üí used to pause requests (polite scraping)

# # üîπ Function Definition
# # def fetch_icd9_disease_name(icd_code):
# # This function takes one ICD-9 code (example: "420")
# # It returns only the disease name
# # If it fails ‚Üí returns "Unknown"

# # üîπ Build the Search URL
# # url = f"http://icd9.chrisendres.com/index.php?srchtype=diseases&srchtext={icd_code}&Submit=Search&action=search"
# # Dynamically inserts the ICD-9 code into the website URL
# # Example for 420:
# # http://icd9.chrisendres.com/...&srchtext=420

# # üîπ Try‚ÄìExcept Block (Error Handling)
# # try:
# # Prevents the program from crashing if:
# # Internet is down
# # Website structure changes
# # Timeout occurs

# # üîπ Send Request to Website
# # response = requests.get(url, timeout=10)
# # Sends an HTTP GET request
# # Waits maximum 10 seconds
# # Downloads the HTML page

# # üîπ Check Response Status
# # if response.status_code != 200:
# #     return "Unknown"
# # HTTP 200 = success
# # Anything else ‚Üí page failed ‚Üí return "Unknown"

# # üîπ Parse HTML Content
# # soup = BeautifulSoup(response.text, "html.parser")
# # Converts raw HTML into a searchable structure

# # üîπ Extract Disease Name
# # disease_div = soup.find("div", class_="dlvl")
# # The disease info on the site is inside :  <div class="dlvl">420 Acute pericarditis</div>

# # Remove the ICD Code from Text
# # disease_name = ' '.join(disease_div.text.strip().split()[1:])
# # hat happens here?
# # disease_div.text ‚Üí "420 Acute pericarditis"
# # .split() ‚Üí ["420", "Acute", "pericarditis"]
# # [1:] ‚Üí removes "420"
# # ' '.join(...) ‚Üí "Acute pericarditis"
# # ‚úîÔ∏è Final Output: "Acute pericarditis"

# # üîπ Return Result
# # return disease_name

# # PART 2: Create ICD-9 Code ‚Üí Description Dictionary
# # icd9_description_map = {}
# # Creates an empty dictionary
# # Will store:
# # {
# #   "420": "Acute pericarditis",
# #   "414": "Coronary atherosclerosis",
# #   ...
# # }

# # üîπ Loop Through Top 20 Diagnosis Codes
# # for code in top_20_diag_codes.index:
# # top_20_diag_codes.index contains ICD-9 codes
# # Example:
# # ['428', '414', '786', '410', ...]

# # üîπ Fetch Disease Name for Each Code
# # icd9_description_map[code] = fetch_icd9_disease_name(code)
# # Calls the web-scraping function
# # Stores result in dictionary

# # üîπ Result
# # icd9_description_map
# # {
# #  '428': 'Heart failure',
# #  '414': 'Coronary atherosclerosis',
# #  '410': 'Acute myocardial infarction'
# # }

# # üü¢ PART 3: Add Diagnosis Description Column to DataFrame
# # df["Primary_Diagnosis_Desc"] = df["diag_1"].astype(str).map(icd9_description_map)
# # Step-by-step:
# # df["diag_1"] ‚Üí ICD-9 code column
# # .astype(str) ‚Üí converts numbers to strings (important for mapping)
# # .map(icd9_description_map) ‚Üí
# # Matches ICD-9 code
# # Replaces with disease name
# # Saves result in new column

# # | diag_1 | Primary_Diagnosis_Desc   |
# # | ------ | ------------------------ |
# # | 420    | Acute pericarditis       |
# # | 414    | Coronary atherosclerosis |

# # üü¢ PART 4: Display the Resul
# # df[["diag_1", "Primary_Diagnosis_Desc"]].head(10)
# # What this does:
# # Selects only two columns
# # Displays first 10 rows
# # Used for checking correctness

# | Part   | Purpose                                 |
# | ------ | --------------------------------------- |
# | Part 1 | Scrapes ICD-9 disease name from website |
# | Part 2 | Builds dictionary (code ‚Üí description)  |
# | Part 3 | Maps descriptions into DataFrame        |
# | Part 4 | Displays result for verification        |