In [6]:
from tkinter.messagebox import NO
import pandas as pd 
import numpy as np

df = pd.read_csv('diabetic_data.csv')
df.head()
# ‚ùì Why do we use head() in Phase 1?

# Because we want to:

# ‚úî Check if data loaded correctly
# ‚úî See column names
# ‚úî See data types (numbers / text)
# ‚úî See strange values like ?
# ‚úî Understand what each column represents

# üÜî encounter_id
# A hospital visit ID
# Every time a patient visits ‚Üí new encounter

# üßç patient_nbr
# Unique patient ID
# Same patient may appear multiple times

# üåç race
# Patient race (Caucasian, AfricanAmerican, etc.)

# üè• admission_type_id
# Why patient was admitted
# Example:
# Emergency
# Urgent
# Elective
# (IDs explained using IDs_mapping.csv)

# üîÅ readmitted (MOST IMPORTANT COLUMN)
# This is your target column.
# Values:
# NO ‚Üí Not readmitted
# >30 ‚Üí Readmitted after 30 days
# <30 ‚Üí Readmitted within 30 days ‚ùó
# üëâ <30 is bad for hospital


# 1Ô∏è‚É£ First: What is this project REALLY about? (Big Picture)
# Imagine this in very simple words üëá
# A hospital has diabetes patients
# Some patients come back to the hospital again within 30 days
# Hospitals lose money if patients come back too soon
# Your job (as a data student) is to:
# Find why patients come back
# Find who is most at risk
# Create a simple risk score
# So the main question is:
# ‚ùì ‚ÄúWhich diabetes patients are likely to be readmitted within 30 days, and why?‚Äù
# That‚Äôs it. Everything else supports this goal.

#  building a house üè†:

# Phase	       Meaning (Simple)
# Phase 1	    Clean the data
# Phase 2	    Explain medical codes
# Phase 3    	Analyze & visualize
# Phase 4	    Create a risk score

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [ ]:
# 1.Replace ? ‚Üí NaN
df.replace("?" , np.nan , inplace=True)
df.head()

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),NaN,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),NaN,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),NaN,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),NaN,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),NaN,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [ ]:
# How many missing values are in each column
df.isna().sum()
# cloman ekaka empty value ekak thiboth true retuern karanawa
# Each number = how many rows are missing data.

# üîç Let‚Äôs interpret the IMPORTANT ones
# ‚ùó weight ‚Üí 98,569 missing
# This is almost the entire dataset
# That‚Äôs why the project explicitly tells you to drop it

# ‚úÖ Decision: DROP
# ‚ö† payer_code ‚Üí 40,256 missing
# Insurance provider
# Too many missing values
# Usually not used in analysis

# (We don‚Äôt drop it yet unless instructions say so)
# ‚ö† medical_specialty ‚Üí 49,949 missing
# Doctor‚Äôs department

# About half missing
# ‚ö† max_glu_serum ‚Üí 96,420 missing
# ‚ö† A1Cresult ‚Üí 84,748 missing
# Lab test results
# Most patients didn‚Äôt take these tests

encounter_id                    0
patient_nbr                     0
race                         2273
gender                          0
age                             0
weight                      98569
admission_type_id               0
discharge_disposition_id        0
admission_source_id             0
time_in_hospital                0
payer_code                  40256
medical_specialty           49949
num_lab_procedures              0
num_procedures                  0
num_medications                 0
number_outpatient               0
number_emergency                0
number_inpatient                0
diag_1                         21
diag_2                        358
diag_3                       1423
number_diagnoses                0
max_glu_serum               96420
A1Cresult                   84748
metformin                       0
repaglinide                     0
nateglinide                     0
chlorpropamide                  0
glimepiride                     0
acetohexamide                   0
glipizide                       0
glyburide                       0
tolbutamide                     0
pioglitazone                    0
rosiglitazone                   0
acarbose                        0
miglitol                        0
troglitazone                    0
tolazamide                      0
examide                         0
citoglipton                     0
insulin                         0
glyburide-metformin             0
glipizide-metformin             0
glimepiride-pioglitazone        0
metformin-rosiglitazone         0
metformin-pioglitazone          0
change                          0
diabetesMed                     0
readmitted                      0
dtype: int64

In [12]:
# | Column   | Missing |
# | -------- | ------- |
# | `diag_1` | 21      |
# | `diag_2` | 358     |
# | `diag_3` | 1423    |
# These are important and have very few missing values

# ‚úÖ Columns with 0 missing values
# Most medication columns, age, gender, readmitted, etc.
# These are clean

# üéØ Phase 1 decisions 
# | Column            | Action   | Reason               |
# | ----------------- | -------- | -------------------- |
# | `weight`          | DROP     | >90% missing         |
# | `?` values        | REPLACED | Not valid values     |
# | Deceased patients | REMOVE   | Cannot be readmitted |
# | Duplicates        | REMOVE   | Data quality         |

# Drop weight
# >90% missing   therefore drop this column
df.drop(columns=["weight"], inplace=True)
df.head()

,encounter_id,patient_nbr,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,payer_code,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),6,25,1,1,NaN,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),1,1,7,3,NaN,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),1,1,7,2,NaN,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),1,1,7,2,NaN,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),1,1,7,1,NaN,...,No,Steady,No,No,No,No,No,Ch,Yes,NO